.navbar
  .navbar-inner
    = partial "partials/github_ribbon"
    .container
      - prefix = data.page.name == 'index' ? '.' : '..'
      %span.btn-navbar.btn{:'data-target' => '.nav-collapse', :'data-toggle' => 'collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      /= link_to("Glycemia HTML5 #{data.page.name}", "#{prefix}/", :class => 'brand')
      = link_to("Glycemia HTML5 #{data.page.name}", "/index.html", :class => 'brand')
      .nav-collapse
        %ul.nav
          %li{:class => data.page.name == 'index' ? 'active' : ''}
            %a(href="#{url_for('/index.html')}") Home
          %li{:class => data.page.name == 'twocolumns' ? 'active' : ''}
            %a(href="#{url_for('/twocolumns.html')}") Two Columns Layout
          %li{:class => data.page.name == 'contact' ? 'active' : ''}
            = link_to("Contact", "/contact.html")
