.navbar.navbar-fixed-top
  .navbar-inner
    = partial "partials/github_ribbon"
    .container
      - prefix = data.page.name == 'index' ? '.' : '..'
      %span.btn-navbar.btn{:'data-target' => '.nav-collapse', :'data-toggle' => 'collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to("Glycemia HTML5 #{data.page.name}", "#{prefix}/", :class => 'brand')
      .nav-collapse
        %ul.nav
          %li{:class => data.page.name == 'index' ? 'active' : ''}
            %a(href="#{url_for(prefix + '/')}") Home
          %li{:class => data.page.name == 'twocolumns' ? 'active' : ''}
            %a(href="#{prefix}/twocolumns") Two Columns Layout
          %li{:class => data.page.name == 'contact' ? 'active' : ''}
            = link_to("Contact", "#{prefix}/contact")
